<!DOCTYPE html>
<html>
<head>
  <title>Uber</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="theme-color" content="#171717">
  <meta name="apple-mobile-web-app-title" content="Uber Web">
  <meta name="apple-mobile-web-app-status-bar-style" content="#171717">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="full-screen" content="yes">
  <link rel="apple-touch-icon" href="/static/images/192.png" type="image/x-icon">
  <link rel="apple-touch-startup-image" href="/static/images/192.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <style type="text/css">
    html, body {
      background: #171717;
    }
  </style>
  <link rel="preload" href="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDBaBOd2W_uUHMgjKdTgxsio3EhrEKqPVg" as="script">
  <% for (var js in htmlWebpackPlugin.files.js) { %>
  <link rel="preload" href="<%= htmlWebpackPlugin.files.js[js] %>" as="script">
  <% } %>
  <link rel="prefetch" href="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDBaBOd2W_uUHMgjKdTgxsio3EhrEKqPVg" as="script">
  <% for (var js in htmlWebpackPlugin.files.js) { %>
  <link rel="prefetch" href="<%= htmlWebpackPlugin.files.js[js] %>" as="script">
  <% } %>
</head>
<body>
  <noscript>
    <div>
  	  Sorry This page needs JS enabled
    </div>
  </noscript>
  <div id="app"></div>
  <script type="text/javascript">
    window.__PRELOADED_STATE__ ='preloadedState';
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDBaBOd2W_uUHMgjKdTgxsio3EhrEKqPVg" defer></script>

<!--   <script>    
    var loadJS = function(src) {
      var ref = document.getElementsByTagName( "script" )[0];
      var script = document.createElement("script");
      script.src = src;
      script.defer = true;
      script.crossorigin = "anonymous";
      script.defer = true;
      ref.parentNode.insertBefore(script, ref);
      return script;
    };
    loadJS('https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDBaBOd2W_uUHMgjKdTgxsio3EhrEKqPVg');
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    loadJS('<%= htmlWebpackPlugin.files.js[js] %>');  
    <% } %>
  </script> -->
</body>
</html>