.home {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
  position: relative;
}

.map {
  background: #ACC9DD;
  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__offline {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #000;
  }
}

.marker {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #40A0C8;
  display: flex;
  align-items: center;
  justify-content: center;
  .ring {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 20px;
    transform: scale(.25);
    transform-origin: center;
    border: 2px solid #40A0C8;
    animation-name: ping;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: 0px 0px 3px #ccc;
  }
}

@keyframes ping {
  from {
    transform: scale(.25);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}