.nav {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 15px;
  width: 20px;

  &__icon {
    background: #000;
    width: 20px;
    height: 2px;
    transform: scale(0.8);
    position: absolute;
    top: 0;
    
    &:before, &:after {
      content: '';
      width: 20px;
      height: 2px;
      background: #000;
      top: 5px;
      position: absolute;
    }

    &:after {
      top: 10px;
    }
  }

  &--back {
    .nav__icon {
      top: 6px;
      &:before, &:after {
        content: '';
        width: 13px;
        top: -4px;
        left: -2px;
        transform: rotate(-45deg);
      }

      &:after {
        top: 4px;
        transform: rotate(45deg);
      }
    }
  }
}

.ubDrawer {
  width: 70vw !important;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0px !important;
  > div {
    width: 100%;
  }

  &__header {
    height: 170px;
    background: #000;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body {
    flex-grow: 1;
    padding: 0 20px;
  }

  &__footer {
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 100;
    > span {
      &:first-child {
        color: #000;
      }

      &:last-child {
        color: #ccc;
      }
    }
  }

  &__name {

  }

  &__dp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ccc;
  }

  &__name {
    color: #fff;
  }

  &__menu {
    list-style-type: none;
    padding: 0;
    color: #3c3c3c;
    font-weight: 100;
    margin-top: 30px;
    font-size: 16px;

    li {
      margin-bottom: 20px;
    }
  }
}