.splashScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;

  &__logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #fff;
    position: relative;
    &:before {
      content: '';
      background: #171717;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:after {
      content: '';
      background: #171717;
      width: 38px;
      height: 8px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}