.splashScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
  position: relative;
  background: #171717;

  &__logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    position: relative;


    // animation-name: disappear;
    // animation-duration: 0.3s; /* or: Xms */
    // animation-iteration-count: 1;
    // animation-timing-function: ease-out;
    // animation-fill-mode: forwards;
    // animation-delay: 1s; /* or: Xms */
    &:before {
      content: '';
      background: #171717;
      width: 24%;
      height: 24%;
      border-radius: 3px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:after {
      content: '';
      background: #171717;
      width: 40%;
      height: 8%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: translateX(-80%);
    }
  }
}

// @keyframes disappear {
//   0%   { opacity: 1; }
//   100% { 
//     opacity: 0;
//     width: 100vh;
//     height: 100vh;
//   }
// }